.clinic-claim-wrapper {
  padding: 130px 30px 50px;

  .clinic-claim-btn-container {

    button {
      color: #fff;
      padding: 15px 35px;
      border: 0;
      box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.2);
      margin-right: 15px;
      font-size: 21px;
      line-height: 1.1;
      width: 340px;
    }

    .btn-nric {
      background-color: #17578c;
    }

    .btn-manual {
      background-color: #55c8fb;
    }
  }

  table {
    font-size: 14px;

    thead {
      border-bottom: 1px solid #eee;
    }

    tbody {
      border: 0;
    }
  }


  .option-label {
    background: #9B9B9B;
    color: #fff;
    border-radius: 3px;
    padding: 6px 0px;
    width: 77px;
    display: block;
  }

  .remove-btn {
    height: 32px;
    width: 77px;
    background-color: #ff5757;
    color: #fff;
    border: 0;
    font-weight: 700;
  }
  

  .claim-card {
    margin: 25px 0 0;
    padding: 25px 40px;
    background-color: #fff;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
  }
}

.claim-registration-container {
  .card-title {
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0 30px;
  }

  table thead {

    th:last-child {
      width: 10%;
    }
  }

  table tbody {

    tr td {
      text-align: left;
    }
  }

  .table-registration th:first-child,
  .table-registration td:first-child {
    padding-left: 30px;
    width: 20%;
  }
}

.successful-trans-header-container {
  display: flex;
  margin: 0 0 20px;

  h4 {
    font-size: 18px;
    font-weight: 700;
  }

  .search-wrapper {
    margin-left: 30px;

    input {
      border: unset;
      border-radius: 4px;
      background: #ebebeb;
      color: #4a4a4a;
      height: 34px;
      width: 135px;
      padding: 0 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      border: unset;
      border-radius: 4px;
      background: #bbbbbb;
      color: #ebebeb;
      height: 34px;
      width: 60px;
      padding: 0 10px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .filter {
    display: flex;
  }

  .date-wrapper {
    display: flex;
    align-items: center;    
    margin-left: 50px;

    input {
      border: 0;
      width: 90px;
      text-align: center;
      font-weight: 700;
    }

    input::placeholder {
      font-size: 12px;
    }
  }

  .btn-date {
    position: relative;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background: unset;
    color: #4a4a4a;
    height: 36px;
    width: 160px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .left-icon-wrapper,
  .right-icon-wrapper {
    width: 30px;
    text-align: center;
  }
}

.table-trans-preview th,
.table-registration th,
.table-successfulTransaction th,
.table-nric th,
.table-manual th {
  padding: 0 15px 15px 0px;
  vertical-align: top;
}

.table-registration td, 
.table-trans-preview td, 
.table-successfulTransaction td, 
.table-nric td, 
.table-manual td {
  padding: 10px 15px 10px 0;
}

.table-nric td, 
.table-manual td {
  padding: 20px 15px 20px 0;
  vertical-align: middle;
}

.table-nric th:last-child,
.table-nric td:last-child {
  text-align: left
}

.table-manual th:nth-child(1), 
.table-manual td:nth-child(1) {
  padding-left: 30px;
  width: 150px;
}

.table-manual th:nth-child(2), 
.table-manual tr td:nth-child(2) {
  width: 20%;
}

.date-wrapper .fa-long-arrow-down {
  display: none;
}

span.arrow-right {
  padding: 0 15px;
}

.verify-user-modal .modal-clinic-container {
  width: 600px;
}

.manual-claim-modal .modal-clinic-container {
  width: 1170px;
}

.manual-head-text-input {
  display: none;
}

.ecard-modal .modal-clinic-container {
  top: 30px;
  width: 450px;
  height: auto;
  background: #f8f8f8;
  border-radius: 8px;
  margin: 0 auto 50px;

  .modal-header,
  .modal-footer {
    display: none;
  }

  .modal-body {
    height: 100%;
    padding: 30px;

    i {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      color: #cbcbcb;
      font-size: 16px;
    }
  }

  .ecard-container {
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;

    >div {
      margin: 0 0 5px;
    }

    .coverage-box {
      font-size: 12px;
      overflow-y: auto;
      max-height: 200px;
      margin: 0;
    }
  }

  .cov-item {
    display: flex;
    margin: 0 0 20px;

    >div:nth-child(1) {
      width: 33.33333333%;
      float: left;
      padding: 0 15px 0 0;
    }

    >div:nth-child(2) {
      width: 67%;
      float: left;
      padding: 0 15px 0 30px;
      line-height: 1.42857143;
    }
  }

  img {
    width: 50px;
    margin: 0 0 10px;
  }

  .ecard-full-name {
    font-size: 20px;
    color: #319EF4;
  }
}

.check-claims-modal .modal-clinic-container {
  width: 550px;
  height: auto;

  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 15px;
  }

  .modal-header {
    background-color: #114158;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
  }

  .transaction-title {
    font-size: 20px;
    margin: 0 0 10px;
    border-bottom: 1px solid #ccc;
  }

  .your-transaction,
  .other-transaction {
    div >label {
      font-weight: 700;
    }
  }

  .other-transaction .transaction-title {
    margin: 10px 0;
  }

  .other-transac-info-container {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .type-text {
    color: #000;
    font-weight: 400;
    font-family: 'helvetica Medium'
  }

  .modal-footer {
    button {
      color: #fff;
      border: 0;
      border-radius: 2px;
      font-weight: 400;
      padding: 10px 30px;
    }

    button:nth-child(1) {
      background-color: #b52c2c;
      margin: 0 10px 0 0;
    }
  }
}

.modal-clinic-container {
  background-color: #fff;
  position: relative;
  top: 130px;
  height: 250px;
  margin: 0 auto;

  .modal-header,
  .modal-body {
    padding: 20px 40px;
  }

  .modal-header {
    font-weight: 700;
    font-size: 18px;
    color: #333;
    background-color: #fff;

    h4 {
      line-height: 1.1;
      margin: 10px 0;
    }

    i {
      float: right;
      cursor: pointer;
      margin: 10px 0;
    }
  }

  .modal-body {
    padding: 0 40px 20px;

    .table-nric {
      margin: 20px 0 0;
    }

    input::placeholder {
      font-weight: 700;
    }

    td>div {
      position: relative;
    }
  }

  .modal-body {
    button {
      border-radius: 3px;
      background: #638db1;
      border: 0;
      color: #fff;
      padding: 10px 16px;
      font-size: 18px;
    }

    button:hover {
      color: #333;
    }
  }

  .verfiy-user-body-modal {
    display: flex;

    input {
      background-color: #f5f5f5;
      border-radius: 4px;
      border: 0;
      color: #555;
      height: 46px;
      font-weight: 700;
      line-height: 1.42857;
      padding: 6px 12px;
      width: 40%;
      margin: 0 15px 0 0;
    }
  }

  .manual-claim-body-modal {

    input {
      width: 100%;
      background: #fff;
      border-radius: 2px;
      border: 1px solid #4a4a4a6e;
      height: 46px;
      padding: 8px 14px;
      margin: 0 0 5px;
    }

    button {
      margin: 0 0 5px;
      padding: 12px 16px;
    }

    .calendar-input-wrapper input,
    .time-visit-input-wrapper input {
      border: 0;
      height: auto;
      /*padding: 4px 14px;*/
      padding: 0px 14px;
      font-weight: 700;
    }

    .time-visit-input-wrapper .fa-clock-o {
      width: 30px;
      margin: 0 10px 0 0;
      text-align: center;
    }

    .time-visit-input-wrapper input {
      padding: 0;
      margin: 0;
    }

    .am-pm-container {
      width: 30px;
      margin: 0 10px;
    }
  }

  .calendar-input-wrapper,
  .time-visit-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #4a4a4a6e;
    height: 46px;
    border-radius: 2px;
    margin: 0 0 5px;

    .fa-calendar,
    .fa-clock-o {
      color: #55c8fb;
      font-size: 20px;
      width: 30px;
      margin: 0 0 0 10px;
      text-align: center;
    }
  }

  .nric-list-container {
    position: absolute;
    top: 47px;
    display: flex;
    background-color: #2b669a;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 15px;

    .img-wrapper {
      width: 50px;
    }

    img {
      width: 100%;
      border-radius: 50%;
    }

    .details {
      margin-left: 10px;
    }

    .nric {
      background-color: #d9edf7;
      color: #31708f;
      display: inline-block;
      padding: 5px;
    }
  }

  .select-procedure-container {
    .service-dropdown {
      position: absolute;
      border: 1px solid #999;
      background-color: #fff;
      width: 100%;
    }

    .service-list {
      display: flex;
      padding: 10px 15px;
      border-bottom: 1px solid #999;
      color: #444;
    }

    i {
      cursor: pointer;
    }

    .service-list>span:first-child {
      flex: 1;
    }
  }

  .am-pm-dropdown-container {
    position: absolute;
    top: 47px;
    right: 0;
    background-color: #fff;
    border: 1px solid #999;
    width: 50px;
    text-align: center;

    span {
      display: block;
      padding: 5px;
      cursor: pointer;
    }
  }

  .timepicker-container {
    position: absolute;
    top: 47px;
    border: 1px solid #999;
    background-color: #fff;
    width: 100%;
    color: #999;

    .top,
    .middle,
    .bottom {
      display: flex;
      align-items: center;
      text-align: center;
    }

    .arrow,
    .hour-wrapper,
    .minute-wrapper {
      flex: 1;
      cursor: pointer;
      padding: 10px;
    }

    .hour-wrapper,
    .minute-wrapper {
      flex: 1.5;
    }

    .middle .divider {
      width: 5px;
      text-align: center;
    }
  }

  .cash-input-wrapper {
    span {
      color: #55c8fb;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}



/*-------------------------------*/
  /*.transactions h4 {
    padding-right: 15px;
  }*/

 /* .transactions .search {
    border: unset;
    border-radius: 4px;
    background: #ebebeb;
    color: #4a4a4a;
    height: 32px;
    width: 135px;
    padding: 0 10px;
  }*/

  /*.transactions .search-icon {
    position: relative;
    left: -30px;
    border: unset;
    border-radius: 4px;
    background: #bbbbbb;
    color: #ebebeb;
    height: 34px;
    width: 45px;
    padding: 0 10px;
  }*/

 /* .transactions .btn-date {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background: unset;
    color: #4a4a4a;
    height: 32px;
    width: 160px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }*/
  /*.transactions .btn-date input{
    cursor: pointer;
  }
  .transactions .btn-date .left-icon-wrapper {
    width: 30px;
    margin-right: 5px;
    text-align: center;
  }
  .transactions .btn-date .right-icon-wrapper {
    width: 30px;
    margin-left: 5px;
    text-align: center;
  }*/
 /* .transactions .btn-date input{
    background: #FFF;
    flex: 1;
  }*/



  /*.transactions .search-wrapper {
    width: fit-content;
  }

  .transactions .date-wrapper {
    padding-left: 15px;
    display: flex;
    align-items: center;
  }



  .buttons button {
    margin-right: 15px;
  }*/

  /* table styles */

  /*.table-trans-preview,
  .table-registration,
  .table-successfulTransaction,
  .table-nric,
  .table-manual {
    margin-top: 15px;
    width: 100%;
  }

  .table-trans-preview thead,
  .table-registration thead,
  .table-successfulTransaction thead,
  .table-nric thead,
  .table-manual thead {
    border-bottom: .5px solid var(--graylight);
  } 

  .table-successfulTransaction th:nth-child(1){
    padding-left: 0;
  }*/


 /* .table-trans-preview th:nth-child(1),
  .table-trans-preview td:nth-child(1),
  .table-registration th:nth-child(1),
  .table-registration td:nth-child(1),
  .registration .card-title {
    padding-left: 30px;
    width: 20%;
  }*/

  /*.table-trans-preview th:nth-child(2),
  .table-trans-preview td:nth-child(2),
  .table-registration th:nth-child(2),
  .table-registration td:nth-child(2) {
    width: 20%;
  }

  .table-trans-preview th:nth-child(3),
  .table-trans-preview td:nth-child(3),

  .table-registration th:nth-child(3),
  .table-registration td:nth-child(3),
  .table-registration th:nth-child(4),
  .table-registration td:nth-child(4) {
    width: 10%;
  }

  .table-registration td,
  .table-trans-preview td,
  .table-successfulTransaction td,
  .table-nric td,
  .table-manual td {
    padding: 10px 15px 10px 0;
    font-weight: bold;
    vertical-align: top;
  }

  .table-trans-preview .btn-submit{
    background: #265a88!important;
    border-radius: 0px;
    color: #FFF;
  }
  .table-trans-preview .btn-remove{
    background: var(--danger) !important;
    border-radius: 0px;
    color: #FFF;
  }*/

  /*@media only screen and (max-width : 1200px) {
    .table-successfulTransaction th,
    .table-successfulTransaction td{
      font-size: 13px;
    }
  }*/

  /* modal styles */

  /*.nric-modalWrapper {
    border-radius: unset !important;
    min-width: 500px !important;
    min-height: 250px;
  }*/

  /*.manual-modalWrapper {
    border-radius: unset !important;
    min-width: 1170px !important;
    min-height: 250px;
    top: unset !important;
    transform: translate(-37%, 50%);
  }

  .nric-wrapper,
  .manual-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nric-wrapper .nric-title,
  .manual-wrapper .manual-title {
    font-size: 18px;
    line-height: 1.1;
    font-weight: bold;
  }

  .nric-content-wrapper,
  .manual-content-wrapper {
    padding-top: 10px;
  }*/

  /*.search-button button {
    border-radius: 3px;
    background: #638db1;
    position: relative;
    left: -15px;
    color: var(--light);
  }

  .manual-form {
    width: 65%;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #4a4a4a6e;
    height: 28px;
    padding: 8px 14px;
    margin-bottom: 5px;
  }

  .manual-form.date{
    display: flex;
    height: 44px;
    padding: 0;
    align-items: center;
    width: 90% !important;
  }
  .manual-form.date input{
    flex: 1;
    background: #FFF;
    padding-left: 14px;
  }
  .manual-form.date .icon-wrapper{
    width: 30px;
    margin-left: 10px;
    text-align: center;
  }

  .manual-form.date .icon-wrapper i{
    font-size: 20px; 
  }*/


  /*.manual-form.time{
    display: flex;
    height: 44px;
    padding: 0;
    align-items: center;
    width: 90% !important;
  }
  .manual-form.time input{
    flex: 1;
    background: #FFF;
    padding: 0;
    border-radius: 0;
  }
  .manual-form.time .left-icon-wrapper{
    width: 30px;
    margin-right: 10px;
    text-align: center;
  }
  .manual-form.time .left-icon-wrapper i{
    font-size: 20px; 
  }
  .manual-form.time .right-icon-wrapper{
    width: 30px;
    margin: 0 10px;
    text-align: center;
  }
  .manual-form.time .right-icon-wrapper i{
    font-size: 20px; 
  }

  .container-fluid.manual-wrapper {
    padding: 20px 50px;
  }*/

  /*.table-nric td,
  .table-manual td {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    vertical-align: top;
  }

  .table-manual th:nth-child(1),
  .table-manual td:nth-child(1) {
    padding-left: 30px;
    width: 150px;
  }

  .table-manual th:nth-child(2),
  .table-manual tr td:nth-child(2) {
    width: 20%;
  }

  .table-manual td:nth-child(3),
  .table-manual td:nth-child(4){
    width: 20%;
  }
  .table-manual td:nth-child(5) {
    width: 15%;
  }

  .table-manual td:nth-child(3) .manual-form,
  .table-manual td:nth-child(4) .manual-form,
  .table-manual td:nth-child(5) .manual-form {
    
  }

  .table-manual td:nth-child(6) {
    width: 10%;
  }

  .table-manual td:nth-child(6) button {
    border-radius: 3px;
    background: #638db1;
    position: relative;
    color: var(--light);
  }

  .table-manual td:nth-child(5) .SgDollar {
    position: absolute;
    transform: translate(-170%, 70%);
  }

  .am-pm {
    float: right;
    position: absolute;
    transform: translate(113%, -73%);
    border-left: 1px solid #4a4a4a6e;
    padding-left: 5px;
    padding: 12px 0 12px 10px;
    margin-left: 10px;
  }*/

  /*#modalManual .nric-drop{
    position: absolute;
    top: 67px;
    left: 30px;
    text-shadow: 0 -1px 0 #286090;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2b669a 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #2b669a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
    background-repeat: repeat-x;
    border-color: #2b669a;
    z-index: 99;
    border-radius: 3px;
    max-height: 200px;
    overflow-x: auto;
  }
  #modalManual .nric-drop .nric-list{
    display: flex;
    z-index: 999999;
    padding: 5px 15px;
    color: #FFF;
    font-weight: 700;
    border-bottom: 1px solid #8eb7da;
    cursor: pointer;
  }
  #modalManual .nric-list .img-wrapper{
    width: 50px;
  }
  #modalManual .nric-list .img-wrapper img{
    width: 100%;
    border-radius: 50%;
  }
  #modalManual .nric-list .details{
    flex: 1;
  }
  #modalManual .nric-list .details p{
    margin-bottom: 3px;
    margin-left: 10px;
  }*/
  /*#modalManual .nric-list .details p.nric{
    background-color: #d9edf7;
    color: #31708f;
    display: inline-block;
    padding: 5px;
  }

  #modalManual .service-td .manual-form{
    width: 75%;
  }

  #modalManual .service-drop{
    z-index: 99;
    background: #FFF;
    border: 1px solid #999;
    display: none;
  }
  #modalManual .service-drop .service-list{
    display: flex;
    padding: 10px 15px;
    color: #444;
    font-weight: 700;
    cursor: pointer;
  }
  #modalManual .service-drop .service-list span{
    flex: 1;
  }*/
  /*#modalManual .service-drop .service-list span.remove-span{
    width: 20px;
    text-align: right;
    flex: none;
  }*/
  /*#modalManual .service-drop .service-list:not(:last-child){
    border-bottom: 1px solid #999;
  }*/

 /* .cursor-pointer{
    cursor: pointer;
  }*/

 /* .datepicker,
  .datepicker *{
    font-family: 'helvetica light' !important;
  }*/

  /*.daytime-container{
    position: absolute;
    top: 69px;
    right: 9%;
    z-index: 99;
    background: #FFF;
    width: 50px;
    border: 1px solid #999;
    text-align: center;
    display: none;
  }*/

  /*.daytime-container .daytime{
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px solid #f9f9f9;
    cursor: pointer;
  }*/

  /*===== TIMEPICKER =====*/
    /*.timepicker-container{
      position: absolute;
      top: 69px;
      left: 0px;
      z-index: 99;
      background: #FFF;
      width: 90%;
      border: 1px solid #999;
      text-align: center;
      display: none;
    }
    .timepicker-container .top,
    .timepicker-container .middle,
    .timepicker-container .bottom{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .timepicker-container .divider{
      width: 20px;
      text-align: center;
    }
    .timepicker-container .arrow,
    .timepicker-container .hour-wrapper,
    .timepicker-container .minute-wrapper{
      flex: 1;
      cursor: pointer;
      padding: 10px;
      color: #999;
    }*/
  /*======================*/

  /*===== SUMMARY CLAIM MODAL =====*/
   /* #summary-claim-modal .modal-dialog{
      width: 550px;
    }
    #summary-claim-modal .modal-content{
      margin-bottom: 50px;
      top: auto;
    }
    #summary-claim-modal .modal-header{
      background: #0492CF;
      border-radius: 4px 4px 0 0;
    }
    #summary-claim-modal .modal-header p{
      margin: 0;
      font-size: 18px;
      text-align: center;
    }
    #summary-claim-modal .modal-body{
      background: #FFF;
      padding: 0;
      box-sizing: border-box !important;
    }
    #summary-claim-modal .modal-body *{
      box-sizing: border-box !important;
    }
    #summary-claim-modal .top-content{
      background: #f7f7f7;
      padding: 10px 40px;
    }
    #summary-claim-modal .top-content .row-summary{
      display: flex;
      width: 100%;
      align-items: center;
      padding: 10px 0;
    }
    #summary-claim-modal .top-content .row-summary:not(:last-child){
      border-bottom: 1px solid #d9d9d9;
    }
    #summary-claim-modal .top-content .row-summary .img-wrapper{
      width: 30px;
      margin-right: 20px;
    }
    #summary-claim-modal .top-content .row-summary .img-wrapper img{
      width: 100%;
    }
    #summary-claim-modal .top-content .row-summary p{
      margin: 0;
      flex: 1;
    }
    #summary-claim-modal .top-content .row-summary p label{
      display: inline-block;
      vertical-align: middle;
      width: 150px;
      color: #999;
    }
    #summary-claim-modal .top-content .row-summary p span{
      display: inline-block;
      font-size: 18px;
    }
    #summary-claim-modal .middle-content{
      padding: 20px 40px 0 40px;
      width: 100%;
      display: inline-block;
    }
    #summary-claim-modal .middle-content .column-details{
      float: left;
      width: 45%;
      margin: 10px 10px 10px 0;
      height: 80px;
    }
    #summary-claim-modal .middle-content .column-details label{
      color: #999;
    }
    #summary-claim-modal .middle-content .column-details p{
      margin: 0;
      font-size: 18px;
    }
    #summary-claim-modal .bottom-content{
      display: flex;
      width: 100%;
      padding: 0px 40px 20px 40px;
    }
    #summary-claim-modal .bottom-content label{
      color: #999;
      margin-bottom: 10px;
    }
    #summary-claim-modal .bottom-content p{
      margin: 0;
      font-size: 18px;
    }
    #summary-claim-modal .bottom-content .item{
      flex: 2;
    }
    #summary-claim-modal .bottom-content .item2{
      flex: 1;
    }

    #summary-claim-modal .bottom-content .item-content{
      display: flex;
      width: 100%;
      align-items: flex-start;
    }
    #summary-claim-modal .bottom-content .item-content .img-wrapper{
      width: 35px;
      margin-right: 20px;
    }
    #summary-claim-modal .bottom-content .item-content .img-wrapper img{
      width: 100%;
    }
    #summary-claim-modal .modal-footer{
      border: none;
      padding: 15px 40px !important;
      margin: 0 !important;
    }
    #summary-claim-modal .modal-footer button{
      background: #265a88;
      color: #FFF;
      font-weight: 700;
      border-radius: 2px;
      padding: 10px 15px;
    }
    #summary-claim-modal .modal-footer button.btn-cancel-claim{
      background: #d42f2f;
    }*/
  /*===============================*/

  /*====== CHECK CLAIM MODAL ======*/
    /*#check-claim-modal p{
      margin-left: 0;
      padding-left: 0;
    }
    #check-claim-modal .similar{
      border-bottom: 1px solid #ddd;
      padding: 10px 0 !important;
    }
    #check-claim-modal .modal-footer{
      margin: 0 15px !important;
      border: none;
    }*/
  /*===============================*/

  /*====== E-CARD MODAL ======*/
    /*#e-card-modal .modal-body p{
      margin-left: 0;
      color: #666;
      font-size: 14px;
      margin-bottom: 5px;
    }

    #e-card-modal .coverage-box{
      color: #111;
      font-size: 12px;
      overflow-y: auto;
      max-height: 200px;
    }

    #e-card-modal .coverage-box .cov-item{
      overflow: hidden;
      margin-bottom: 20px;
    }

    #e-card-modal .ecard-container{
      background: #fff;
      padding: 20px;
      margin-top: 20px;
      border-radius: 8px;
      border: 2px solid #ddd;
      overflow: hidden;
    } */
  /*===============================*/