.main-clinic-container {
  height: 100vh;
  overflow-y: auto;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background: #0190CD;

  .nav-logo{
	  width: 150px;
	  margin-left: 20px;

	  img{
		  width: 100%;
		}
	}
	.nav-items{
		flex: 1;
		text-align: center;
		ul{
			list-style: none;
			margin: 0;
			padding-left: 50px;
		}
		li{
			display: inline-block;

			&.active a,
			&.router-active a{
		    border-bottom: 2px solid #FFF;
    		color: #FFF;
			}
		}
		a{
		  color: #EEE;
		  text-transform: uppercase;
		  font-weight: 700;
		  padding: 30px 2px 2px 2px;
		  margin: 0 15px;
		  font-size: 15px;
		  letter-spacing: 0.8px;
		}
	}
}
.need-help-container{
  width: 170px;
  position: relative;

  img{
	  cursor: pointer;
    width: 30px;
	}
  .need-help-text{
	  font-size: 16px;
	  color: #EEE;
	  font-weight: 700;
	  margin-right: 20px;

	  &:hover + .need-help-drop-container{
		  display: block;
		}
	}
	.need-help-drop-container{
	  display: none;
	  text-align: left;
	  position: absolute;
	  top: 35px;
	  right: 85px;
	  width: 310px;
	  color: #FFFFFF;
	  background: #f1eded;
	  height: auto;
	  line-height: 30px;
	  padding: 35px 35px;
	  z-index: 9999;
	  font-weight: 700;
    box-shadow: 2px 2px 5px #bbbbbb9e;

	  &:after {
		  content: '';
		  position: absolute;
		  top: -10px;
		  right: 10px;
		  width: 0;
		  height: 0;
		  border-bottom: 10px solid #efefef;
		  border-right: 10px solid transparent;
		  border-left: 10px solid transparent;
		  z-index: 9999;
		}
		p{
		  color: #8a8a8a;
		  font-size: 16px;
		  line-height: 1;
		  margin-bottom: 8px;
		}
		.title{
		  color: #0392cf;
		  font-size: 22px;
		}
		.subtitle{
		  color: #494949;
		  font-size: 18px;
		}
	}
	.logout-drop{
	  padding: 5px 20px;
	  background: #ddd;
	  position: absolute;
	  top: 40px;
	  right: 20px;
	  width: 190px;

	  ul{
		  float: left;
		  margin: 0;
		  width: 100%;
		}
		li a{
		  padding: 15px 0;
		  display: inline-block;
		  font-weight: 700;
		  cursor: pointer;
		  width: 100%;
		}
	}
}
.sms-modal{
	.modal-header{
    padding: 15px 20px;

		p{
			font-size: 18px;
		}
	}
	.modal-container{
		width: 400px;
	}
	.modal-body{
    padding: 20px;
	}
	.form-div{
		display: flex;

		label{
			width: 70px;
		}
		input{
			flex: 1;
		}
		textarea{
			flex: 1;
			min-height: 50px;
		}
		.phone-wrapper{
			flex: 1;
			display: flex;

			input:first-child{
				width: 30%;
				flex: none;
			}
			input:last-child{
				flex: 1
			}
		}
	}
} 


